<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
     <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
<hr>

<div>
<%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
<%= link_to "Back to restaurant", restaurants_path  %>
<%= button_to "Destroy this restaurant", @restaurant, method: :delete  %>
</div>
